<html>
<div *ngIf="cargando" class="juego-container">
  <p>Cargando preguntas...</p>
</div>

<div *ngIf="!cargando && preguntas.length > 0" class="juego-container">
  <h2>{{ preguntaActual.question }}</h2>

  <img *ngIf="preguntaActual.imageUrl" [src]="preguntaActual.imageUrl" alt="Imagen relacionada"
    class="imagen-pregunta" />

  <div class="opciones">
    <button *ngFor="let opcion of preguntaActual.options" (click)="seleccionarOpcion(opcion)"
      [disabled]="mostrarResultado" [class.correcta]="mostrarResultado && opcion === preguntaActual.answer"
      [class.incorrecta]="mostrarResultado && opcion === opcionSeleccionada && opcion !== preguntaActual.answer">
      {{ opcion }}
    </button>
  </div>

  <div *ngIf="mostrarResultado">
    <p *ngIf="respuestaCorrecta; else incorrecta" class="mensaje-correcto">✅ ¡Correcto!</p>
    <ng-template #incorrecta>
      <p class="mensaje-rojo">❌ Incorrecto. La respuesta correcta era: {{ preguntaActual.answer }}</p>
    </ng-template>

    <button (click)="siguientePregunta()" [disabled]="preguntaActualIndex >= preguntas.length - 1">Siguiente</button>
  </div>
</div>

<!-- Mensaje de fin de juego -->
<div *ngIf="preguntaActualIndex >= preguntas.length" class="juego-container">
  <p class="mensaje-rojo">🎮 ¡Juego finalizado! 🎉</p>
  <button (click)="reiniciarJuego()">Reiniciar Juego</button>
  <div class="back-home-container">
    <button class="back-home-btn" (click)="volverHome()">Volver al inicio</button>
  </div>
</div>

<!-- Botones siempre visibles -->
  <button (click)="reiniciarJuego()">Reiniciar</button>

  <div class="back-home-container">
  <button class="back-home-btn" (click)="volverHome()">Volver al inicio</button>
</div>

</html>