<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="home-container">
  <!-- Nav -->
  <div class="top-buttons">
    <button *ngIf="esAdmin && !cargandoUsuarios" class="nav-button" (click)="irAUsuarios()">Usuarios</button>
    <div *ngIf="cargandoUsuarios" class="spinner"></div>
  </div>

  <hr class="divider">

  <h1 class="title">🏥 Clínica Online</h1>

  <hr class="divider">

  <!-- Si no está logueado -->
  <div *ngIf="!isLoggedIn" class="login-section">
    <p>No hay sesión activa.</p>
    <div class="auth-buttons">
      <button (click)="goToLogin()" class="login-button"><strong>Iniciar sesión</strong></button><br><br>
      <button routerLink="/register" class="login-button"><strong>Registro</strong></button>
    </div>
  </div>

  <!-- Si está logueado -->
  <div *ngIf="isLoggedIn" class="user-info">
    <p>
      Sesión iniciada como: <strong>{{ tipoUsuario || 'Usuario' }}</strong> — {{ userEmail }}
    </p>
    <button (click)="logout()" class="logout-button"><strong>Cerrar sesión</strong></button>
  </div>
</div>