  <!-- <h2>Lista de jugadores:</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Foto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersdata">
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>
          <img class="avatar" [src]="getAvatarUrl(user.avatarUrl)" alt="Foto de usuario">
        </td>
      </tr>
    </tbody>
  </table> -->


  <html>
      <h1 class="arcade-title">Puntuaciones</h1>

<div class="grid-container">
  <div *ngFor="let game of gameResults" class="table-container">
    <h2>{{ game.game }}</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Fecha</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of game.data">
          <td>{{ result.email }}</td>
          <td>{{ result.fecha | date: 'short' }}</td>
          <td>{{ result.score }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

    <button (click)="goHome()" class="back-link">Volver</button>


  </html>