<html>
<div class="juego-container">
 <h2>Mayor o Menor</h2>

 <div class="carta">
  <p>Carta actual:</p>
  <div class="carta-display">
   {{ cartaActual?.valor }} {{ cartaActual?.palo }}
  </div>
 </div>

 <div class="carta" *ngIf="mostrarSiguienteCarta">
  <p>Carta recogida:</p>
  <div class="carta-display" *ngIf="!cartaRecogidaTapada">
   {{ siguienteCarta?.valor }} {{ siguienteCarta?.palo }}
  </div>
  <div class="carta-display" *ngIf="cartaRecogidaTapada">
   Tapada
  </div>
 </div>

 <div *ngIf="!juegoTerminado">
  <p>¿La próxima carta será...?</p>
  <div class="botones-apuesta">
   <button (click)="adivinar('mayor')" [disabled]="!!respuestaJugador">Mayor</button>
   <button (click)="adivinar('igual')" [disabled]="!!respuestaJugador">Igual</button>
   <button (click)="adivinar('menor')" [disabled]="!!respuestaJugador">Menor</button>
  </div>
 </div>

 <p><strong *ngIf="mensaje" [ngClass]="{ 'mensaje-rojo': juegoTerminado }">{{ mensaje }}</strong></p>
 <p><strong>Puntaje: {{ puntaje }}</strong></p>

 <button (click)="reiniciar()">Reiniciar</button>
  <button (click)="volverHome()">Volver al Home</button>
</div>


</html>