<div class="usuarios-container">

  <h2>Gestión de Usuarios</h2>


  <!-- Loading -->
  <div *ngIf="loading" class="loading-overlay">
    <div class="spinner"></div>
  </div>

  <!-- Contenido solo si no está cargando -->
  <div *ngIf="!loading">
    <div class="tabla-scroll">
      <table>
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Confirmación</th>
            <th>Habilitación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usuarios">
            <td>{{ user.tipo_usuario }}</td>
            <td>{{ user.nombre }} {{ user.apellido }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.confirmado ? 'Sí' : 'No' }}</td>
            <td>
              <button *ngIf="user.tipo_usuario === 'especialista'" (click)="cambiarEstado(user)">
                {{ user.confirmado ? 'Inhabilitar' : 'Habilitar' }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="mensaje2" class="mensaje">{{ mensaje2 }}</div>


    <br><br><h3>Crear Nuevo Usuario</h3>
    <div *ngIf="mensaje" class="mensaje">{{ mensaje }}</div>

    <form class="form">
      <fieldset>
        <legend>Datos Generales</legend>
        <div class="form-group">
          <select name="tipo_usuario" [(ngModel)]="nuevoUsuario.tipo_usuario">
            <option value="" disabled selected>Tipo de usuario</option>
            <option value="paciente">Paciente</option>
            <option value="especialista">Especialista</option>
            <option value="administrador">Administrador</option>
          </select>

          <input name="nombre" type="text" placeholder="Nombre" [(ngModel)]="nuevoUsuario.nombre" />
          <input name="apellido" type="text" placeholder="Apellido" [(ngModel)]="nuevoUsuario.apellido" />
          <input name="edad" type="number" placeholder="Edad" [(ngModel)]="nuevoUsuario.edad" />
          <input name="dni" type="text" placeholder="DNI" [(ngModel)]="nuevoUsuario.dni" />
        </div>
      </fieldset>

      <fieldset>
        <legend>Acceso</legend>
        <div class="form-group">
          <input name="email" type="email" placeholder="Email" [(ngModel)]="nuevoUsuario.email" />
          <input name="password" type="password" placeholder="Password" [(ngModel)]="nuevoUsuario.password" />
          <input type="file" multiple (change)="onFilesSelected($event)" />
          <label>Seleccionar {{ nuevoUsuario.tipo_usuario === 'paciente' ? '2 imágenes' : '1 imagen' }}</label>
        </div>
        <br>
        <fieldset *ngIf="nuevoUsuario.tipo_usuario === 'especialista'">
          <legend>Datos del Especialista</legend>
          <div class="form-group">
            <label>Especialidad existente:</label>
            <select name="especialidadSeleccionada" [(ngModel)]="nuevoUsuario.especialidadSeleccionada">
              <option value="" disabled selected>Seleccionar especialidad</option>
              <option *ngFor="let esp of especialidades" [value]="esp">{{ esp }}</option>
            </select>

            <input name="nuevaEspecialidad" type="text" placeholder="Especialidad adicional"
              [(ngModel)]="nuevoUsuario.nuevaEspecialidad" />
          </div>
        </fieldset>

        <fieldset *ngIf="nuevoUsuario.tipo_usuario === 'paciente'">
          <legend>Datos del Paciente</legend>
          <div class="form-group">
            <label>Obra Social:</label>
            <select name="obra_social" [(ngModel)]="nuevoUsuario.obra_social">
              <option value="" disabled selected>Seleccionar obra social</option>
              <option value="Swiss Medical">Swiss Medical</option>
              <option value="Galeno">Galeno</option>
              <option value="OSDE">OSDE</option>
            </select>
          </div>
        </fieldset>
      </fieldset>



      <button type="button" (click)="crearUsuario()">Crear Usuario</button>
    </form>

    <div class="btn-container">
      <button routerLink="/home">Volver</button>
    </div>
  </div>
</div>