<div class="informes-container">

  <h2>Informes y Estadísticas</h2>

  <button (click)="generarPDF()">Descargar estadísticas (PDF)</button>

  <div id="contenedor-reportes">

    <section>
      <h3>Log de Ingresos</h3>
      <p *ngIf="logsIngresos.length === 0">No hay ingresos registrados.</p>
      <!-- Directiva estructural *ngIf agregada -->
      <!-- Muestra el <p> solo si logsIngresos.length === 0, es decir, si la lista está vacía.
      Si no se cumple, no renderiza el elemento en el DOM. -->

      <ul>
        <li *ngFor="let log of logsIngresos">
          <!-- Directiva estructural *ngFor -->
          <!-- Recorre el array logsIngresos y genera un <li> por cada elemento.
          La variable log representa cada objeto actual en el bucle. -->

          {{ log.email | lowercase }} - <!-- Pipe 1: lowercase --> 
          {{ log.fecha | date: 'dd/MM/yyyy' }} {{ log.hora }} <!-- Pipe 2: date -->
        </li>
      </ul>
    </section>

    <section>
      <h3>Turnos por Especialidad</h3>
      <canvas id="chartEspecialidad"></canvas>
      <ul>
        <li *ngFor="let t of turnosEspecialidad">
          {{ t.especialidad }}: {{ t.cantidad }}
        </li>
      </ul>
    </section>

    <section>
      <h3>Turnos por Día</h3>
      <canvas id="chartDia"></canvas>
      <ul>
        <li *ngFor="let t of turnosPorDia">
          {{ t.fecha | date: 'dd/MM/yyyy' }}: {{ t.cantidad }}
        </li>
      </ul>
    </section>

    <section>
      <h3>Turnos por Médico</h3>
      <div class="form-group">
        <label for="fechaInicio">Fecha Inicio:</label>
        <input type="date" id="fechaInicio" [(ngModel)]="fechaInicio" />
        <!-- Directiva [(ngModel)] -->
        <!-- Vincula el valor del <input> con la propiedad fechaInicio del componente. -->



        <label for="fechaFin">Fecha Fin:</label>
        <input type="date" id="fechaFin" [(ngModel)]="fechaFin" />
        <button (click)="cargarTurnosPorMedico()">Filtrar</button>
      </div>

      <h4>Solicitados</h4>
      <ul class="turnos-list">
        <li *ngFor="let t of turnosPorMedico">
          {{ t | json }} 
          <!-- Pipe 3: json -->
          <!-- Lo uso para mostrar en pantalla todo el objeto t tal cual llega, sin tener que 
          poner {{ t.especialista }}, {{ t.cantidad }} uno por uno. -->
        </li>
      </ul><br>

      <h4>Finalizados</h4>
      <ul class="turnos-list">
        <li *ngFor="let t of turnosFinalizadosPorMedico">
          {{ t.especialista }}: {{ t.cantidad }}
        </li>
      </ul>
    </section>

  </div>

  <button class="btn-volver" (click)="volver()">&larr; Volver atrás</button>
</div>