<div class="quien-soy-container">
  <h2 class="title">Quién soy</h2>

  <img src="assets/img/imgperfillabiv.jpg" alt="Foto del alumno" class="profile-img" />
  <p>¡Hola a todos!, mi nombre es <strong>Mauricio Rojas</strong>, tengo 28 años y estudio la TUP en la UTN. <br>
    Me apasiona la tecnología en todas sus formas: desde el desarrollo de software hasta el diseño de interfaces. <br>
    Este proyecto fue realizado para la materia Laboratorio de Programación IV, combinando Angular y Supabase en una propuesta interactiva con estilo arcade retro.</p>
  <p><strong>Correo:</strong> mauriciocc.rojas&#64;gmail.com </p>

  <hr style="border: 2px solid #fdd835; width: 60%; box-shadow: 0 0 10px #fdd835;">

  <h3 class="subtitle">Mi Juego</h3>
  <p>Explicación del juego</p>
  
  <div class="btn-container">
  <button routerLink="/home" class="back-link">Volver</button>
  </div>

</div>
