
.ahorcado-container {
    background-color: #000; /* fondo negro puro */
    text-align: center;
    padding: 20px;
    min-height: 100vh;
}

.arcade-title {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #f44336;
}

.palabra-oculta {
    font-size: 2rem;
    margin: 20px;
    color: #ffffff;
    letter-spacing: 5px;
}

.letras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los botones */
    gap: 10px;
    margin-bottom: 20px;
}

.letra-btn {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #f3c221;
    border: 2px solid #440000;
    color: #440000;
    cursor: pointer;
    transition: transform 0.2s;
}

.letra-btn:hover {
    transform: scale(1.1);
}


/* Estilo de los botones de control */
.volver-button {
    padding: 10px 20px;
    background-color: #f3c221;
    color: #440000;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.2s;
    margin: 10px;
}

.volver-button:hover {
    transform: scale(1.1);
}
.letra-btn:disabled {
    background-color: #ccc; /* Color gris para los botones deshabilitados */
    color: #666; /* Color gris oscuro para el texto */
    cursor: not-allowed; /* Cambiar el cursor para indicar que no se puede hacer clic */
}
/* Estilo del mensaje de victoria/derrota */
.mensaje {
    font-size: 2rem;
    margin-bottom: 5px;
    color: #f44336; /* Color rojo para resaltar el mensaje */
}

/* Estilo del muñequito creciendo hacia abajo */
.muñequito {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;
}

.muñequito div {
    margin: 4px 0; /* Espacio entre cada parte del muñeco */
}

/* Estilo de los botones de control */
.volver-button {
    padding: 10px 20px;
    background-color: #f3c221;
    color: #440000;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.2s;
    margin: 10px;
}

.volver-button:hover {
    transform: scale(1.1);
}
