<html>
  <div class="ahorcado-container">
  <div class="top-info">
    <div class="vidas">Vidas: {{ intentos }}</div>
    <div class="pista">Pista: {{ pista }}</div>
  </div>

  <h1 class="arcade-title">Ahorcado</h1>

  <p class="palabra-oculta">{{ palabraMostrada }}</p>

  <div class="letras">
    <button
      *ngFor="let letra of abecedario"
      (click)="elegirLetra(letra)"
      class="letra-btn"
      [disabled]="letrasErradas.includes(letra) || palabraMostrada.includes(letra) || juegoTerminado">
      {{ letra }}
    </button>
  </div>

  <div class="muñequito">
    <div *ngIf="intentos <= 5">┌─┐</div>
    <div *ngIf="intentos <= 4">│ (•‿•) </div>
    <div *ngIf="intentos <= 3">    ║   </div>
    <div *ngIf="intentos <= 2">  ╔═╬═╗ </div>
    <div *ngIf="intentos <= 1">    ║   </div>
    <div *ngIf="intentos <= 0">  ╱ ╲    </div>
    <div *ngIf="intentos <= 6">╚═════════╝ </div>
  </div>

  <div *ngIf="juegoTerminado" class="mensaje">
    <h2>{{ mensaje }}</h2>
  </div>


</div>
  <button (click)="reiniciar()" class="volver-button">Reiniciar</button>

  <div class="back-home-container">
    <button class="back-home-btn" (click)="volverHome()"><strong>Volver al inicio</strong></button>
  </div>
</html>
