/* Estilos generales para el login */
.login-container {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px; /* Tamaño adecuado */
  margin: 20px auto;
  box-sizing: border-box;
  box-shadow: 0 0 15px #ff4081; /* Sombra rosa para efecto retro */
}

h3 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #000000; /* rojo vibrante */
  text-shadow: 
    0 0 5px #f44336,    /* brillo rojo */
    0 0 10px #f44336,   /* brillo rojo */
    0 0 15px #f44336,   /* brillo rojo */
    0 0 20px #ff4081,   /* mezcla de rosa */
    0 0 30px #ff4081,   /* mezcla de rosa */
    0 0 40px #ff4081,   /* mezcla de rosa */
    0 0 50px #ff4081,   /* mezcla de rosa */
    0 0 60px #ff4081;   /* mezcla de rosa */
  margin-bottom: 30px;
}

/* Estilo de los inputs */
.login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ffa9a9; /* Borde amarillo */
  background-color: #333; /* Fondo oscuro para inputs */
  color: #fff; /* Texto blanco */
  box-sizing: border-box;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.login-input:focus {
  border-color: #f44336; /* Borde rojo al hacer focus */
  box-shadow: 0 0 8px #f44336; /* Sombra para efecto retro */
}

/* Estilo común para todos los botones */
.btn {
  width: 100%;
  padding: 10px;
  background-color: #dc0000; /* Fondo amarillo */
  color: #440000; /* Texto rojo oscuro */
  border: 1px solid #fff;
  border-radius: 17px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px #f3de21;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #b15e00; /* Fondo amarillo oscuro al pasar el cursor */
  color: #ffffff;
  transform: scale(1.05);
}

.error-message {
  color: #ff4081; /* Rosa vibrante */
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 0 8px #ff4081; /* Sombra rosa para el texto de error */
}
