<div class="home-container">
  <!-- Nav -->
  <div class="top-buttons">
    <button class="game-button" routerLink="/quien-soy">Quién Soy</button>
    <button class="game-button" routerLink="/lista-jugadores">Lista de Jugadores</button>
  </div>


  <h1 class="title">Bienvenido a la Sala de Juegos</h1>

  <!-- Lista de juegos -->
  <div class="game-list">
    <button class="game-button" routerLink="/ahorcado">Ahorcado</button>
    <button class="game-button" routerLink="/mayor-o-menor">Mayor o Menor</button>
    <button class="game-button" routerLink="/preguntados">Preguntados</button>
  </div>

<!-- Si no está logueado -->
<div *ngIf="!isLoggedIn" class="login-section">
  <p>No hay sesión activa.</p>
  <div class="auth-buttons">
    <button (click)="goToLogin()" class="login-button">Iniciar sesión</button><br><br>
    <button routerLink="/register" class="login-button">Registro</button>
  </div>
</div>

  <!-- Si está logueado -->
  <div *ngIf="isLoggedIn" class="user-info">
    <p>Sesión iniciada como: <strong>{{ userEmail }}</strong></p>
    <button (click)="logout()" class="logout-button">Cerrar sesión</button>
  </div>

</div>
