<div class="register-container">
    <h3 class="registro">Encuesta de Satisfacción</h3>

    <input type="text" placeholder="Nombre y apellido" [(ngModel)]="fullName" class="register-input" required />
    <input type="number" placeholder="Edad" [(ngModel)]="age" class="register-input" required />
    <input type="text" placeholder="Teléfono" [(ngModel)]="phone" maxlength="10" class="register-input" required />

    <!-- Pregunta 1: Radiobutton -->
    <div class="register-input">
        <label>¿Cómo calificarías tu experiencia?</label><br />
        <label><input type="radio" name="q1" [(ngModel)]="q1" value="Excelente" /> Excelente</label><br />
        <label><input type="radio" name="q1" [(ngModel)]="q1" value="Buena" /> Buena</label><br />
        <label><input type="radio" name="q1" [(ngModel)]="q1" value="Regular" /> Regular</label><br />
        <label><input type="radio" name="q1" [(ngModel)]="q1" value="Mala" /> Mala</label>
    </div>

    <!-- Pregunta 2: Checkbox -->
    <div class="register-input">
        <label>¿Qué secciones disfrutaste?</label><br />
        <label><input type="checkbox" [(ngModel)]="q2Ahorcado" /> Ahorcado</label><br />
        <label><input type="checkbox" [(ngModel)]="q2MayorMenor" /> Mayor o Menor</label><br />
        <label><input type="checkbox" [(ngModel)]="q2Preguntados" /> Preguntados</label><br />
        <label><input type="checkbox" [(ngModel)]="q2Escape" /> Escape Galáctico</label>
    </div>

    <!-- Pregunta 3: Textbox -->
    <textarea rows="4" [(ngModel)]="q3" placeholder="¿Comentarios adicionales?" class="register-input"></textarea>

    <div class="btn-container">
        <button (click)="enviarEncuesta()" class="btn">Enviar</button>

        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="error-message" style="border-color: #00ff00; color: #00ff00;">
            {{ successMessage }}
        </div>
        <button (click)="goHome()" class="btn">Volver</button>
    </div>
</div>