<div class="home-container">

  <div class="top-buttons">
    <button *ngIf="esAdmin && !cargandoUsuarios" class="nav-button" (click)="irAUsuarios()">Usuarios</button>
    <div *ngIf="cargandoUsuarios" class="spinner"></div>
  </div>

  <hr class="divider">
  <br>
  <h1 class="title">🏥 Clínica Online</h1>

  <hr class="divider">

  <div *ngIf="!isLoggedIn" class="login-section">
    <p>No hay sesión activa.</p>
    <button (click)="goToLogin()" class="login-button"><strong>Iniciar sesión</strong></button><br><br>
    <button routerLink="/register" class="login-button"><strong>Registro</strong></button>
  </div>

  <div *ngIf="isLoggedIn" class="user-info">
    <p class="inline-session">Sesión iniciada como: <strong>{{ tipoUsuario || 'Usuario' }}</strong> — {{ userEmail }}
    </p>

    <div class="button-row">
      <button *ngIf="tipoUsuario === 'paciente'" class="nav-button" (click)="irATurnos()">Mis Turnos</button>
      <button *ngIf="tipoUsuario === 'paciente'" class="nav-button" (click)="irASolicitarTurnos()">Solicitar
        Turno</button>
      <button *ngIf="tipoUsuario === 'paciente'" class="nav-button" (click)="irAMiPerfil()">Mi Perfil</button>

      <button *ngIf="tipoUsuario === 'especialista'" class="nav-button" (click)="irATurnos()">Mis Turnos</button>
      <button *ngIf="tipoUsuario === 'especialista'" class="nav-button" (click)="irAMiPerfil()">Mi Perfil</button>
      <button *ngIf="tipoUsuario === 'especialista'" class="nav-button" (click)="irAPacientes()">Pacientes</button>

      <button *ngIf="tipoUsuario === 'administrador'" class="nav-button" (click)="irATurnos()">Administrar
        Turnos</button>
      <button *ngIf="tipoUsuario === 'administrador'" class="nav-button" (click)="irASolicitarTurnos()">Solicitar
        Turno</button>
    </div>

  </div><br>
  <button (click)="logout()" class="logout-button"><strong>Cerrar sesión</strong></button>

</div>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">