<div class="register-container">
  <h3 class="registro">Registro</h3>
  <input type="text" placeholder="Email" [(ngModel)]="username" class="register-input" />
  <input type="password" placeholder="Password" [(ngModel)]="password" class="register-input" />
  <input type="text" placeholder="Nombre" [(ngModel)]="name" class="register-input" />
  <input type="number" placeholder="Edad" [(ngModel)]="age" class="register-input" />
  <input type="file" (change)="onFileSelected($event)" class="register-input" />

  <div class="btn-container">
    <button (click)="register()" class="btn"> Registrar </button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

      <button routerLink="/login" class="btn"> Ir al Login </button>

  </div>

</div>