<div class="register-container">
  <h3 class="registro">Registro</h3>

  <!-- Botones de selección -->
  <div class="user-type-selector" *ngIf="!tipoUsuario">
    <button class="user-type-button" (click)="setTipoUsuario('paciente')">
      <img src="assets/paciente.png" alt="Paciente" />
      <span>Paciente</span>
    </button>
    <button class="user-type-button" (click)="setTipoUsuario('especialista')">
      <img src="assets/especialista.png" alt="Especialista" />
      <span>Especialista</span>
    </button>
  </div>

  <form class="form" *ngIf="tipoUsuario">
    <fieldset>
      <legend>Datos Generales</legend>
      <div class="form-group">
        <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="nombre" class="register-input" />
        <input type="text" name="apellido" placeholder="Apellido" [(ngModel)]="apellido" class="register-input" />
        <input type="number" name="edad" placeholder="Edad" [(ngModel)]="edad" class="register-input" />
        <input type="text" name="dni" placeholder="DNI" [(ngModel)]="dni" class="register-input" />
      </div>
    </fieldset>

    <fieldset *ngIf="tipoUsuario === 'paciente'">
      <legend>Datos del Paciente</legend>
      <div class="form-group">
        <label>Obra Social:</label>
        <select [(ngModel)]="obraSocial" name="obraSocial" class="register-input">
          <option value="" disabled selected>Seleccioná una opción</option>
          <option value="Galeno">Galeno</option>
          <option value="Swiss Medical">Swiss Medical</option>
          <option value="OSDE">OSDE</option>
        </select>
      </div>
    </fieldset>

    <fieldset *ngIf="tipoUsuario === 'especialista'">
      <legend>Datos del Especialista</legend>
      <div class="form-group">
        <label>Especialidad:</label>
        <select [(ngModel)]="especialidadSeleccionada" name="especialidadSeleccionada" class="register-input">
          <option *ngFor="let esp of especialidades" [value]="esp">{{ esp }}</option>
        </select>
        <input type="text" name="nuevaEspecialidad" placeholder="Nueva especialidad (opcional)"
          [(ngModel)]="nuevaEspecialidad" class="register-input" />
      </div>
    </fieldset>

    <fieldset>
      <legend>Acceso</legend>
      <div class="form-group">
        <input type="email" name="email" placeholder="Email" [(ngModel)]="username" class="register-input" />
        <input type="password" name="password" placeholder="Contraseña" [(ngModel)]="password" class="register-input" />

        <label>Seleccionar {{ tipoUsuario === 'paciente' ? '2 imágenes' : '1 imagen' }} de perfil</label>
        <input type="file" (change)="onFilesSelected($event)" [multiple]="tipoUsuario === 'paciente'"
          class="register-input" />
      </div>
      <!-- Botón para volver a elegir tipo de usuario -->
      <div class="volver-container">
        <button type="button" class="btn volver-btn" (click)="tipoUsuario = ''">Volver</button>
      </div>

    </fieldset>

    <div class="volver-container">
      <button class="btn volver-btn" (click)="register()"  [disabled]="loading">Registrar</button>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      <button routerLink="/login" class="btn volver-btn">Ir al Login</button>
    </div>
  </form>

  <!-- Spinner overlay -->
  <div *ngIf="loading" class="loading-overlay">
    <div class="spinner"></div>
  </div>
</div>